html {
  font-size: 62.5%;
}

body {
  font-family: 'Assistant', sans-serif;
  color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $black;
}
